#wrapper {
    height: 100vh;
}

#row {
    height: 100%;
}

#content {
    padding-right: 0px;
    padding-left: 0px;
}

#sidebar {
    padding-top: 1%;
    text-align: center;
}

#top-bar {
    padding: 2.5em 3.5em;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#map {
    height: 100%;
    width: 100%;
}

#form-panel {
    padding-left: 25em;
    padding-right: 25em;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}