<div class="container-fluid" id="wrapper">
    <div class="row" id="row">
        <div class="col-2" id="sidebar">
            <div class="container-fluid" id="content-sidebar-container">
                <div class="row">
                    <div class="col-12">
                        <app-filters></app-filters>
                    </div>
                    <div class="col-12 py-4" id="content-results">
                        <app-results></app-results>
                    </div>
                    <div *hasRole="'user'" class="col-12">
                        <app-category-proposal-button></app-category-proposal-button>
                    </div>
                    <div *hasRole="'admin'" class="col-12">
                        <app-show-proposals-button></app-show-proposals-button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-10" id="content">
            <div *hasRole="'admin'" id="logout-button" (click)="logout()">
                <p> Logout</p>
            </div>
            <div id="top-bar">
                <app-top-bar></app-top-bar>
            </div>
            <div id="map">
                <app-map></app-map>
            </div>
            <div id="form-panel">
                <app-form-panel></app-form-panel>
            </div>
        </div>
    </div>
</div>