<div id="container">
  <div id="sidebar">
      <app-filters></app-filters>
      <app-results></app-results>
      <app-category-proposal></app-category-proposal>
  </div>
  <div id="content">
    <div *hasRole="'admin'" id="logout-button" (click)="logout()">
      <p> Logout</p>
    </div>
    <div id="top-bar">
      <app-top-bar></app-top-bar>
    </div>
    <div id="map">
      <app-map></app-map>
    </div>
    <div id="form-panel">
      <app-form-panel></app-form-panel>
    </div>
  </div>
</div>
