<div *ngIf="shouldShow">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    Proposed Categories
                </div>
                <div class="col-1">
                    <i class="fa fa-times pointer" (click)="close()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul>
            <li *ngFor="let category of proposedCategories">
                {{category.name}}
                <i class="fa fa-check accept-category" (click)="acceptCategory(category)"></i>
                <i class="fa fa-times reject-category" (click)="rejectCategory(category)"></i>
            </li>
        </ul>
    </div>
</div>